.vscode/**
.vscode-test/**
.cursor/**
.direnv/**
docs/**
scripts/**
out/**
node_modules/**
src/**
.git/**
.gitignore
.envrc
Makefile
SETUP.md
flake.nix
flake.lock
*.vsix
.yarnrc
esbuild.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
